In [4]:
# 리스트
# 순서가 존재하고 중복을 허용하는 자료구조형
# 파이썬에서는 변수에 데이터 타입이 없듯이 모든 타입을 하나의 리스트에 담을 수 있음
# 리스트 표현: [요소1, 요소2, 요소3, ...]

In [ ]:
array = [1, 3.14, '문자열', True]
array

In [ ]:
array[0]

In [18]:
array[-1]

True

In [ ]:
array[4]

In [26]:
asd = []
for item in array:
    asd = asd + [item]
    print(asd)

[1]
[1, 3.14]
[1, 3.14, '문자열']
[1, 3.14, '문자열', True]

In [ ]:
# [3.5, 10.3, 3.2, 7.8, 5.4] 라는 리스트가 있을 때
# 리스트에서 최대값, 최소값, 평균, 분산을 출력하시오
# (원소-평균)제곱을 다 더한다음 갯수만큼 나누기

In [61]:
numbers = [3.5, 10.3, 3.2, 7.8, 5.4]

In [57]:
# 최대값
max = float("-Inf")

for number in numbers:
    if number > max:
        max = number
max

10.3

In [58]:
# 최소값
min = float("Inf")

for number in numbers:
    if number < min:
        min = number
min

3.2

In [69]:
# 평균
sum = 0
for number in numbers:
    sum += number
avg = round(sum / len(numbers), 2)
avg

6.04

In [72]:
# 분산
sum = 0
for number in numbers:
    sum += (number - avg)**2
Dispersion = round(sum / len(numbers), 2)
Dispersion

7.23

In [ ]:
# 리스트 개수 구하기
# len() 내장함수로 리스트의 길이를 구할 수 있음

In [74]:
len(numbers)

5

In [75]:
# 리스트 구주로 형변호나
# 반복가능한 객체에 대하여 리스트 형태로 형 변환할 때 list() 내장 함수를 사용

In [76]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
# 리스트에 자료 추가하기
# 리스트 객체에 append(요소) 메서드를 사용하여 요소를 추가할 수 있음
# 리스트 객체에 insert(인덱스, 요소) 메서드를 사용하여 특정 인덱스에 요소를 삽입할 수 있음
# 리스트 객체에 extend(리스트) 메서드를 사용하여 매개변수로 전달한 리스트를 확장할 수 있음

In [115]:
numbers = list(range(5))
numbers

[0, 1, 2, 3, 4]

In [116]:
numbers.append(99)
numbers

[0, 1, 2, 3, 4, 99]

In [117]:
numbers.insert(0, -100)
numbers

[-100, 0, 1, 2, 3, 4, 99]

In [118]:
numbers.extend([123, 321])
numbers

[-100, 0, 1, 2, 3, 4, 99, 123, 321]

In [119]:
# 리스트에서 요소 삭제
# del 요소 : 요소를 메모리 상에서 제거
# pop() : 마지막 요소를 반환하고 제거
# pop(인덱스) : 지정한 인덱스 요소를 반환하고 제거
# remove(요소값) : 지정한 요소값을 제거 (첫번째로 만난 요소만 제거)

In [120]:
del numbers[0]
numbers

[0, 1, 2, 3, 4, 99, 123, 321]

In [121]:
numbers.pop()

321

In [122]:
numbers

[0, 1, 2, 3, 4, 99, 123]

In [123]:
numbers.pop(2)

2

In [124]:
numbers

[0, 1, 3, 4, 99, 123]

In [125]:
numbers = [1, 1, 1, 2, 2, 3]
numbers

[1, 1, 1, 2, 2, 3]

In [126]:
numbers.remove(2)

In [127]:
numbers

[1, 1, 1, 2, 3]

In [128]:
# 리스트 슬라이싱
# 리스트[시작인덱스:종료인덱스] : 시작인덱스 요소부터 종료인덱스 앞까지 요소를 묶어서 리스트로 반환

In [129]:
numbers = list(range(20))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [134]:
numbers[0:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [133]:
numbers[:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [136]:
numbers[7:14]

[7, 8, 9, 10, 11, 12, 13]

In [137]:
numbers[7:20]

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [139]:
numbers[7:]

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [140]:
#1. 리스트에는 숫자 뿐 아니라 문자 등 어떤 값도 넣을 수 있다. 10명으로 이루어진 반의 학생 이름을 생각하여 리스트 변수로 만들어 본다.
#2. 전학생이 왔다고 가정하여 리스트에 이름을 추가한다.
#3. 한 명이 전학을 갔다고 가정하고 리스트에서 이름을 삭제한다.
#4. 슬라이싱으로 5번 학생(1번 학생은 가장 처음에 있는 학생이다.)부터 9번 학생까지 5명의 이름을 담은 새로운 리스트를 만든다.

In [141]:
names = ['김이준', '이서아', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤']

In [142]:
names.append('한시우')
names

['김이준', '이서아', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤', '한시우']

In [143]:
names.remove('최이서')
names

['김이준', '이서아', '박도윤', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤', '한시우']

In [145]:
new_names = names[4:9]
new_names

['강아윤', '조은우', '윤지아', '장서준', '임하윤']